<html>
  <head>
    <title>Arthur Cury Sampaio </title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>A comp do montanha</h1>
    <i class ="branco-oswald"> A lendária estratégia para destruir a KEYD</i>
    <p class="branco-roboto">  A famosa "comp do montanha" foi uma composição de personagens criada por um fã do time brasileiro da PainGaming de 2015, de nome desconhecido, e apelidado de "Montanha". O intuito dessa composição era fugir do "Meta Gaming", que consiste nos campeões que no momento são os mais poderosos e de combos conhecidos dentro do jogo, mas ao mesmo tempo trazer ataques simultãneos que pudessem surpreender seus oponentes. Montanha, na esperança de ver o Brasil ser vitorioso na época, desenvolvou essa estratégia com muita dedicação e determinação, e após seu brainstorm ter chegado onde desejava, postou um vídeo no youtube explicando como funcionaria sua estratégia, e ganhou muita atenção com seu carisma e força de vontade. Infelizmente o Brasil não foi vitorioso na época, mas a comp do montanha segue conhecida e admirada por todos os jogadores de League of Legends. </p>
    <u class="branco-roboto">Equipe da Pain de 2015</u>
    <br>
  <div style= "text-align: justify;"
      <ul class="branco-roboto">
        <li>Mylon</li>
        <li>SirT</li>
        <li>Kami</li>
        <li>brTT</li>
        <li>Dioud</li>
    <br>
      <b class="branco-roboto">Pontos Positivos da Comp</b>
  <ol class="branco-roboto">
    <li>Wombo Combo</li>
    <li>Dois Tanques</li>
    <li>Early Game Poderoso</li>
     <img width="220px" src="https://media.tenor.com/mQ2LrIfDwv4AAAAM/brtt-tiktok.gif" style="float: right; margin: -200 150 1em 1em;">
    <li>Bastante CC</li>
  </ol>
  
  <b class= "branco-roboto">Pontos Negativos da comp</b>
  <ol class="branco-roboto">
    <li>BRTT ficaria isolado farmando</li>
    <li>Orianna é um alvo fácil de gankar</li>
    <li>Jarvan IV depende do Early para ser efetivo</li>
    <li>Malphite sem ultimate não faz muita coisa</li>
  </ol>
   
</div>
    <table>
    <tr>
       <th>Campeão</th>
       <th>Função</th>
       <th>Rota</th>
     </tr>
     <tr>
       <td>Malphite</td>
       <td>"Tancar" muito dano e dar "knock-up"na ultimate logo após a ult do Jarvan IV</td>
        <td>Topo</td>
    </tr>
     <tr>
        <td>Jarvan IV</td>
        <td>Campar o Mid no Early Game e prender todos os inimigos em uma teamfight dentro de sua ult, após a ult da orianna</td>
       <td>Jungle</td>
    </tr>
    <tr>
      <td>Orianna</td>
      <td>Farmar e adiquirir recurso na fase de rotas, para posteriormente em uma teamfight juntar os inimigos com a ultimate</td>
      <td>Mid</td>
    </tr>
   <tr>
      <td>Twitch</td>
     <td>Farmar e crescer no jogo, e durante a tf distribuir dano com AA e ultimate</td>
      <td>ADcarry</td>
    </tr>
   <tr>
     <td>Leona</td>
     <td>"Tancar" junto do malphite, defender o adcarry, e usufruir da ultimate e basic skills para estunar e manter os inimigos parados, tanto no combo principal da composição, quanto nas rotas</td>
      <td>Suporte</td>
    </tr>
  </table>
    <a href="https://www.youtube.com/watch?v=DcF0ltMt8lc" target="_blank">Link para a <br> Comp do montanha</a><br>
  <img width="450px" src="https://i.ytimg.com/vi/ibj7T71g_hM/maxresdefault.jpg">
  <img width="450px" src="https://i.ytimg.com/vi/V4kw0-XevK4/maxresdefault.jpg">
    
  {% include 'list_champs.html' %}
  {% include 'list_tasks.html' %}
</body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'appdoarthur/css/styles.css' %}">

</html>
