html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #000000;
}

  header {
  background-color: rgb(255, 99, 71);
}

  footer {
  background-color: hsl(120, 60%, 70%); /
}
h1 {
  
  text-align: center;
  font-style: italic;
  font-family: 'Roboto';
  color: #ffffff;
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%;
  animation: rainbow 10s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

table {
   border-collapse: collapse;
   width: 100%;
}

th, td {
   border: 1px solid white;
   padding: 8px;
   text-align: left;
}

th {
   background-color: #f5e10a;
   color: black;
}
tr{
  background-color: #eabb10;
  color: black;
}
.branco-roboto{
  font-size: 20px;
  font-family: 'Roboto';
  color: white;
}
.branco-oswald{
  font-size: 40px;
  font-family: 'Oswald';
  color: white;
}
.branco-oswald2{
  font-size: 20px;
  font-family: 'Oswald';
  color: white;
}
